[SddmGreeterTheme]
Name=Mytheme
Name[ca]=Mytheme
Name[da]=Mytheme
Name[de]=Mytheme
Name[el]=Mytheme
Name[es]=Mytheme
Name[et]=Mytheme
Name[fi]=Mytheme
Name[ga]=Mytheme
Name[gl]=Mytheme
Name[hu]=Mytheme
Name[ia]=Mytheme
Name[kk]=Еларун
Name[ko]=Mytheme
Name[mr]=एलारन
Name[nb]=Mytheme
Name[nl]=Mytheme
Name[pl]=Mytheme
Name[pt]=Mytheme
Name[pt_BR]=Mytheme
Name[ro]=Mytheme
Name[ru]=Эларан
Name[sk]=Mytheme
Name[sl]=Mytheme
Name[sr]=Еларун
Name[sr@ijekavian]=Еларун
Name[sr@ijekavianlatin]=Mytheme
Name[sr@latin]=Mytheme
Name[sv]=Mytheme
Name[uk]=Еларан
Name[x-test]=xxMythemexx
Name[zh_CN]=Mytheme
Name[zh_TW]=Mytheme

Description=Mytheme KDM theme ported to SDDM. \nThe original theme is based on work of Roman Shtylman & Nuno Pinheiro
Type=sddm-theme
Author=Reza Fatahilah Shah
Copyright=(c) 2013, Reza Fatahilah Shah
Screenshot=mytheme.jpg
License=GPL
Version=0.1
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=mytheme
Theme-API=2.0
Website=https://github.com/sddm/sddm

